DB_URL=jdbc:mysql://mydatabase:3306/test
DB_USERNAME=root
DB_PASSWORD=12345


REDIS_HOST=redis-container
REDIS_PORT=6379


MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password


JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=3600000


ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin-password


FRONTEND_URL=http://localhost:5173
