
DB_USERNAME=
DB_PASSWORD=
DB_NAME=



REDIS_PORT=6739



MAIL_USERNAME=
MAIL_PASSWORD=



JWT_SECRET=Y
JWT_EXPIRATION=3600000


ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123


FRONTEND_URL=http://localhost:45678